*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    color: white;
}

body {
    background-color: black;
    height: 100%;
}

a {
    text-decoration: none;
}

@media(min-width:1000px){
    header {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
    }
    header h1 {
        width: 20%;
        color: whitesmoke;
        display: flex;
        justify-content: center;
    }
    header nav {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: left;
        align-items: center;
    }
    header nav a {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
    }
    header nav a:hover {
        color: black;
        background-color: lightgray;
        border: 1px solid whitesmoke;
    }
    footer {
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        background-color: lightgray;
    }
    footer p {
        background-color: darkgray;
    }
    main {
        display: flex;
        width: 90vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    main h1 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    main figure {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}