*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    color: white;
    overflow-x: hidden;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

@media(min-width:1000px){
    nav {
        position: fixed;
        top: 0;
        background-color: black;
        width: 100%;
    }
    nav .navbar {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        font-family: serif;
    }
    nav .navbar a {
        flex: 1; /* Allow flex to adjust size dynamically */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
    }
    nav .navbar a:hover {
        color: black;
        background-color: lightgray;
    }
    header {
        width: 100%; /* Adjusted to avoid overflow */
        position: relative;
    }
    header .logo {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    main {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    footer {
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        background-color: darkgray;
        color: whitesmoke;
    }
    .about {
        margin: auto 10vw auto;
    }
    .about h1 {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 5rem;
        font-size: xx-large;
    }
    .about figure {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .about caption {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top:5em;
        margin-bottom: 5em;

    }
    .about caption .blurb {
        width: 40%;   
    }
    .blurb {
        font-size: 20px;
    }
}